<div class="box-title">skills</div>
<div class="skills-box">
  <span class="skill-item">
    <i class="icon ion-social-html5"></i>
    html5
  </span>

  <span class="skill-item">
    <i class="icon ion-social-css3"></i>
    css3
  </span>

  <span class="skill-item">
    <i class="icon ion-social-sass"></i>
    sass
  </span>

  <span class="skill-item">
    <i class="icon ion-social-javascript"></i>
    javascript
  </span>

  <span class="skill-item">
    <i class="icon ion-social-angular"></i>
    angular
  </span>

  <span class="skill-item">
    <i class="icon ion-social-nodejs"></i>
    nodeJs
  </span>

  <span class="skill-item">
    <i class="icon ion-ionic"></i>
    ionic 
  </span>
  
  <span class="skill-item">
    c/c++ 
  </span>

  <span class="skill-item">
    <i class="icon ion-social-github"></i>
    git
  </span>

  <span class="skill-item">
    <i class="icon ion-social-windows"></i>
    windows
  </span>

  <span class="skill-item">
    <i class="icon ion-social-apple"></i>
    macOS
  </span>
</div>
</div>